* {
  /*outline: solid red 2px;*/
}

*:focus {
  outline: solid lightblue 8px;
}

.App {
  display: flex;
  flex-direction: column;
  outline: solid blue 2px;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  display: flex;
  background-color: #282c34;
  margin: 0;
  color: white;
  font-size: 24px;

}

h2 {
  font-size: 16px;
  margin: 16px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin-top: 5%;
  margin-bottom: 2%;
}

p {
  margin: 0;
  margin-bottom: 2%;
}

.App-header {
  /*outline: solid blue 2px;*/
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  /*outline: solid blue 2px;*/
  flex: 1;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.App-footer {
  /*outline: solid blue 2px;*/
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: white;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 2%
}

.instruction-header {
  color: white;
  margin: 0px;
  margin-top: 3%;
}

.chat {
  /*outline: solid green 10px;*/
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
  max-width: 50rem;
  justify-content: space-evenly;
}

.header-chat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.content-chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
}

.chat-user {
  /*outline: solid yellow 2px;*/
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  background-color: #ffffff;
  padding-left: 10px;
  padding-bottom: 10px;
  border-top-right-radius: 40px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 0px;
  margin-bottom: 6%;
  color: black;
}

.chat-ai {
  /*outline: solid yellow 2px;*/
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  width: 70%;
  align-self: flex-end;
  background-color: #000000;
  padding-right: 10px;
  padding-bottom: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 60px;
  margin-bottom: 6%;
}

.play-audio-button {
  color: white;
  height: 5;
  background-color: #1F449C;
  border: 1px solid white;
}

.App-link {
  color: #61dafb;
}

.audio-controls {
  display: flex;
  box-sizing: border-box;

}

.resume-button {
  display: flex;
  box-sizing: border-box;
  position: relative;
  font-size: 40px;
  margin-top: 10px;
}

.circle-icon {
  
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.bar-icon {
  position: absolute;
  top: 50%;
  left: 37%;
  transform: translate(-50%, -50%) rotate(90deg) scaleX(0.63) scaleY(0.9);
}

.microphone-icon {
  position: absolute;
  font-size: 35px;
  top: 17%;
  left: 15.5%;
  color: white;
}

.recording-sign {
  position: absolute;
  background-color: red;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  font-size: 10px;
  position: absolute;
  top: 2%;
  right: 1%;
  animation: pulsate 2s ease-in-out infinite;
}

/* Mobile View */
@media (max-width: 630px) {
  .recording-sign {
    top: 2.5%;
    right: 3%;
  }
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
